name: Add to Dependabot PR
on: 
  pull_request_target:
      types: [opened]

permissions:
  pull-requests: write
  issues: write
  repository-projects: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    # Checking the actor will prevent your Action run failing on non-Dependabot PRs
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Fetch Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.BOT_TOKEN }}"
      # The following properties are now available:
      #  - steps.metadata.outputs.dependency-names
      #  - steps.metadata.outputs.dependency-type
      #  - steps.metadata.outputs.update-type 

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: true
          token: ${{ secrets.BOT_TOKEN }}

      # assign a reviewer from folks listed in reviewer-lottery.yml    
      - uses: uesteibar/reviewer-lottery@v2
        with:
          repo-token: ${{ secrets.BOT_TOKEN }}

